<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moemoe.lalala">

    <!-- normal permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"></uses-permission>

    <!-- Dangerous permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 这个权限用于进行网络定位 ACCESS_COARSE_LOCATION-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 ACCESS_FINE_LOCATION-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->



    <application
        android:name=".MoemoeApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:debuggable="true"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/ApplicationTheme">

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="559b89c267e58ee03e0021b7" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <activity android:name=".SplashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/label_host"
                    android:scheme="@string/label_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".GuideActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="plot_1.0" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/label_scheme"
                    android:host="@string/label_host"
                    android:path="@string/label_plot_path"/>
            </intent-filter>
        </activity>
        <!--<activity-->
            <!--android:name=".MainActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"-->
            <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--</activity>-->
        <activity
            android:name=".MapActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:theme="@style/ImageTranslucentTheme">
         </activity>
        <activity
            android:name=".PersonalActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme">
        </activity>
        <activity
            android:name=".CalendarActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme">
        </activity>
        <activity
            android:name=".WallBlockActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="room_1.0" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/label_scheme"
                    android:host="@string/label_host"
                    android:path="@string/label_room_path"/>
            </intent-filter>
        </activity>
        <!--<activity-->
            <!--android:name=".QiuMingShan2Activity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/ImageTranslucentTheme">-->
            <!--<intent-filter>-->
                <!--<action android:name="room_1.0" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--<data-->
                    <!--android:scheme="@string/label_scheme"-->
                    <!--android:host="@string/label_host"-->
                    <!--android:path="@string/label_room_path"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name=".DepartmentActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="department_1.0" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/label_scheme"
                    android:host="@string/label_host"
                    android:path="@string/label_department_path"/>
            </intent-filter>
        </activity>
        <activity
        android:name=".MessageActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
        android:theme="@style/ImageTranslucentTheme">
        </activity>
        <activity
            android:name=".MyPostActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme">
        </activity>
        <activity
            android:name=".QiuMingShanActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="qiu_1.0" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/label_scheme"
                    android:host="@string/label_host"
                    android:path="@string/label_qiu_path"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MyFavoriteActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme">
        </activity>
        <activity
            android:name=".TrashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Activity_Dialog">
            <intent-filter>
                <action android:name="garbage_1.0" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/label_scheme"
                    android:host="@string/label_host"
                    android:path="@string/label_trash_path"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".DonationActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Activity_Dialog">
            <intent-filter>
                <action android:name="donation_1.0" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/label_scheme"
                    android:host="@string/label_host"
                    android:path="@string/label_donation_path"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageTrashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Activity_Dialog">
            <intent-filter>
                <action android:name="garbage_img_1.0" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/label_scheme"
                    android:host="@string/label_host"
                    android:path="@string/label_img_trash_path"/>
            </intent-filter>
        </activity>
        <activity android:name=".EventActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Activity_Dialog"/>
        <activity android:name=".ChangePasswordActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".FindPasswordActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".LoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/DefaultColorTranslucentTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".PhoneRegisterActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".PhoneStateCheckActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ClubPostListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/MainColorTranslucentTheme">
            <intent-filter>
                <action android:name="tag_1.0" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/label_scheme"
                    android:host="@string/label_host"
                    android:path="@string/label_tag_path"/>
            </intent-filter>
        </activity>
        <activity android:name=".SettingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"/>
        <activity android:name=".AboutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"/>
        <activity android:name=".CreateNormalDocActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/MainColorTranslucentTheme"
            android:windowSoftInputMode="adjustResize"  />
        <activity android:name=".DocHideAddActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/MainColorTranslucentTheme"
            android:windowSoftInputMode="adjustResize"  />
        <activity android:name=".SelectFukuActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/MainColorTranslucentTheme"/>
        <activity android:name=".CropAvatarActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"/>
        <activity android:name=".EditAccountActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"/>
        <activity android:name=".FriendsMainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"/>
        <activity android:name=".ImageBigSelectActivity"
            android:process=":picture"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"/>
        <activity android:name=".SelectMateActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"/>
        <activity android:name=".MultiImageChooseActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"/>
        <activity android:name=".NewsDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"/>
        <activity android:name=".PersonalLevelActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"/>
        <activity android:name=".SelectMusicActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"/>
        <activity android:name=".WebViewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:hardwareAccelerated ="true"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="url_inner_1.0" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/label_scheme"
                    android:host="@string/label_host"
                    android:path="@string/label_url_path"/>
            </intent-filter>
        </activity>
        <activity android:name=".MusicDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"/>
        <activity android:name=".NewDocDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/MainColorTranslucentTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="doc_1.0" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/label_scheme"
                    android:host="@string/label_host"
                    android:path="@string/label_doc_path"/>
            </intent-filter>
        </activity>
        <activity android:name=".ColumnDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="calui_1.0" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/label_scheme"
                    android:host="@string/label_host"
                    android:path="@string/label_cal_column_path"/>
            </intent-filter>
        </activity>
        <activity android:name=".JuBaoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".PermissionsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"/>

        <service android:name=".netamusic.player.PlaybackService">
            <intent-filter>
                <action android:name="com.moemoe.lalala.ACTION_PLAY_TOGGLE"/>
                <action android:name="com.moemoe.lalala.ACTION.PLAY_NEXT"/>
                <action android:name="com.moemoe.lalala.ACTION.PLAY_LAST"/>
                <action android:name="com.moemoe.lalala.ACTION.STOP_SERVICE"/>
            </intent-filter>
        </service>
        <service android:name=".download.DownloadService"/>
        <service android:name=".NetaDownloadService"/>


        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <intent-filter>
                <data android:scheme="tencent1104765197" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".broadcast.PushReceiver"
            android:exported="false">
            <intent-filter>
                <!-- APPID需要替换为相应的个推应用ID -->
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.AppInstallReceiver" android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"></action>
                <action android:name="android.intent.action.PACKAGE_REMOVED"></action>
                <action android:name="android.intent.action.PACKAGE_REPLACED"></action>
                <data android:scheme="package"></data>
            </intent-filter>
        </receiver>
    </application>

</manifest>
